<app-root></app-root>
<script type="text/javascript" src="/apps/rockstar-ticketing/admin/ext/rockstar-ticketing/clientlibs/js/inline.bundle.js"></script>
<script type="text/javascript" src="/apps/rockstar-ticketing/admin/ext/rockstar-ticketing/clientlibs/js/polyfills.bundle.js"></script>
<script type="text/javascript" src="/apps/rockstar-ticketing/admin/ext/rockstar-ticketing/clientlibs/js/styles.bundle.js"></script>
<script type="text/javascript" src="/apps/rockstar-ticketing/admin/ext/rockstar-ticketing/clientlibs/js/vendor.bundle.js"></script>
<script type="text/javascript" src="/apps/rockstar-ticketing/admin/ext/rockstar-ticketing/clientlibs/js/main.bundle.js"></script>
