


<header id="header"><span class="logo"><img src="/etc/designs/rockstarticketing/images/rockstar-ticketing-logo.png"/></span>
    <nav id="nav">
        <ul>
            <li style="white-space: nowrap; float: right; height: 3em;"><a href="#" class="button" onclick="toggleLogin();">Log In</a></li>
            <li style="-moz-user-select: none; cursor: pointer; white-space: nowrap;" class="opener" style=" float: right;"><a href="#"
                                                                                                                               class="icon fa-angle-down">Contact Us</a>
                <ul style="-moz-user-select: none; display: none; position: absolute;" class="">
                    <li style="white-space: nowrap;"><a href="#" style="display: block;">Option One</a></li>
                    <li style="white-space: nowrap;"><a href="#" style="display: block;">Option Two</a></li>
                    <li style="white-space: nowrap;"><a href="#" style="display: block;">Option Three</a></li>
                    <li style="-moz-user-select: none; cursor: pointer; white-space: nowrap;" class="opener"><a href="#"
                                                                                                                style="display: block;">Submenu</a>
                        <ul style="-moz-user-select: none; display: none; position: absolute;" class="dropotron">
                            <li style="white-space: nowrap;"><a href="#" style="display: block;">Option One</a></li>
                            <li style="white-space: nowrap;"><a href="#" style="display: block;">Option Two</a></li>
                            <li style="white-space: nowrap;"><a href="#" style="display: block;">Option Three</a></li>
                            <li style="white-space: nowrap;"><a href="#" style="display: block;">Option Four</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li style="white-space: nowrap; float: right;"><a href="#">Deals</a></li>
            <li style="white-space: nowrap; float: right;"><a href="#">Concerts</a></li>
            <li style="white-space: nowrap; float: right;"><a id="home-button" href="en.html">Home</a></li>
            <li class="dropdown">
                <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4" style="float: right; background-color: black; display: none; position: relative;">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="?gender=male&age=42">Male 42</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="?gender=male&age=25">Male 25</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="?gender=female&age=41">Female 41</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="?gender=female&age=28">Female 28</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

<div class="container" style="margin-top: 6em;">
    <div class="row">
        <div class="col-lg-2">
            <div class="icon fa-diamond"><h3>Jennifer Lopez</h3>
                <p>07/07/2018</p></div>
            <div class="icon fa-floppy-o"><h3>Burton Cummings</h3>
                <p>07/31/2018</p></div>
            <div class="icon fa-laptop"><h3>Luke Bryan</h3>
                <p>08/07/2018</p></div>
            <div class="icon fa-paper-plane"><h3>Steel Panther</h3>
                <p>09/06/2018</p></div>
        </div>

        <div id="banner" class="col-lg-8">
            <div id="rockstar-mbox-1"></div>
        </div>

        <div class="col-lg-2">
            <div><a href="#" class="image fit"><img src="images/pic01.jpg" alt=""></a>
                <h3>Sit amet posuere risus amet lorem faucibus lectus</h3>
                <p>Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus
                    in tellus. Sed ac magna consequat.</p>
                <ul class="actions">
                    <li><a href="#" class="button">Learn More</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12"><a href="#" class="image fit"><img src="images/pic02.jpg" alt=""></a>
            <h3>Ante sed fermentum tempus vitae eleifend magna</h3>
            <p>Quam vel tortor tincidunt suscipit. Nullam auctor orci eu dolor consectetur, interdum ullamcorper
                ante tincidunt. Mauris felis felis elementum.</p>
            <ul class="actions">
                <li><a href="#" class="button">Learn More</a></li>
            </ul>
        </div>
        <div class="col-lg-12"><a href="#" class="image fit"><img src="images/pic03.jpg" alt=""></a>
            <h3>Lorem ipsum dolor sit amet consectetur adipiscing</h3>
            <p>Purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque
                placerat auctor laoreet.</p>
            <ul class="actions">
                <li><a href="#" class="button">Learn More</a></li>
            </ul>
        </div>
        <div class="col-lg-12"><a href="#" class="image fit"><img src="images/pic04.jpg" alt=""></a>
            <h3>Duis vulputate amet tincidunt lacinia velit aliquet</h3>
            <p>Mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce
                tincidunt lorem ipsum dolor sit amet.</p>
            <ul class="actions">
                <li><a href="#" class="button">Learn More</a></li>
            </ul>
        </div>
    </div>

</div>

